* {
    border: none;
    border-radius: 0px;
    font-family: "Hasklig";
    font-size: 18px;
    min-height: 0;
    color: #fdfdfd;
}

window#waybar {
    background: #424250;
}

#window {
    padding: 0px 5px;
    font-size:0.8em;
    border-radius:50
}

#workspaces, #clock, #custom-spotify, #window { 
    font-weight: 800;
}

#tray * {
    color: #fdfdfd;
    background-color: #44f135;
}

/* Workspace Buttons */
#workspaces button label{
    color: #fdfdfd;
    font-size: 30px;
}
#workspaces button.focused label {
    color: #fdfdfd;
}
#workspaces button.focused {
    background: #37efba; 
}
#workspaces button:hover{
  background-color:#005d57;
}
#mode {
    background-color: #fd472f;
    color: #fdfdfd;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    border-radius:50
  
}







#custom-worktime {
    padding: 0 5px;

}

#clock {
    margin: 0;
    color: #fdfdfd;
    background-color: #6fd8f2;
}


#network.disconnected {
    color: #fdfdfd;
}


#pulseaudio.muted {
    color: #fdfdfd;
}
.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: #fdfdfd;
}
#custom-discord {
    background-color: greenyellow;
    color: #fdfdfd;
    border-radius: 50;
    padding:5px;
}
#battery{
    color: #fdfdfd;
    background-color: #f8d576;
}
#memory{
    color: #fdfdfd;
    background-color: violet;
}
#cpu{
    color: #fdfdfd;
    background-color: #c0c0cc;
}
#network{
    color:#fdfdfd;
    background-color: #f86750;
}
#pulseaudio{
    color: #fdfdfd;
    background-color: #ffb10e;
}
#window{
    background-color: #3a3a44;
    color: #fdfdfd;
}
