* {
    border: none;
    border-radius: 0px;
    font-family: "Hasklig";
    font-size: 18px;
    min-height: 0;
    color: #E5E9F0;
}

window#waybar {
    background: #4C566A;
}

#window {
    padding: 0px 5px;
    font-size:0.8em;
    /*border-radius:50 */
}

#workspaces, #clock, #custom-spotify, #window { 
    font-weight: 800;
}

#tray * {
    color: #ECEFF4;
    background-color: #44f135;
}

/* Workspace Buttons */
#workspaces button label{
    color: #ECEFF4;
    font-size: 30px;
}
#workspaces button.focused label {
    color: #ECEFF4;
}
#workspaces button.focused {
    background: #2E3440; 
}
#workspaces button:hover{
  background-color:#3B4252;
}
#mode {
    background-color: #fd472f;
    color: #E5E9F0;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding:10px;
    /*border-radius:50*/
  
}







#custom-worktime {
    padding: 0 5px;

}

#clock {
    margin: 0;
    color: #E5E9F0;
    background-color: #8FBCBB;
}


#network.disconnected {
    color: #E5E9F0;
}


#pulseaudio.muted {
    color: #E5E9F0;
}
.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: #E5E9F0;
}
#custom-discord {
    background-color: greenyellow;
    color: #E5E9F0;
    border-radius: 50;
    padding:5px;
}
#battery{
    color: #E5E9F0;
    background-color: #88C0D0;
}
#memory{
    color: #E5E9F0;
    background-color: #B48EAD;
}
#cpu{
    color: #E5E9F0;
    background-color: #D08770;
}
#network{
    color:#E5E9F0;
    background-color: #81A1C1;
}
#pulseaudio{
    color: #E5E9F0;
    background-color: #A3BE8C;
}
#window{
    background-color: #434C5E;
    color: #E5E9F0;
}
